<h1>Flight Booker</h1>

<h4>Search for a flight</h4>

<%= render "search_form" %>

<h4>Results:</h4>

<% if @flights.any? %>
    <%= render "booking_form" %>
<% else %>
    <p>No flights were found. Try changing your search criteria.</p>
<% end %>