<h1>Flight Booker</h1>

<p>Search for a flight:</p>
<%= render partial: "search_form" %>

<h5>Flights with these params:</h5>
<% if params.has_key?(:date) %>
    <% flights = Flight.search_query(params) %>
    <%= render partial: "flight_form", locals: { flights: flights } %>
<% end %>